{% macro insert_articles(articles) %}

<ol class="md:w-2/3 mx-auto text-yellow-900 dark:text-yellow-50">
    {% for article in articles %} {% if article.publish_date %}
    <li class="scale-normal w-full my-3">
        <a class="no-underline hover:underline" href="{{ article.path }}">
            <div class="container">
                <div class="flex">
                    <div class="w-2/3">
                        <h3 class="text-lg">
                            {{ article.title }}
                        </h3>
                        <h4 class="text-sm">
                            {{ article.description }}
                        </h4>
                    </div>
                    <div class="w-1/3 text-right">
                        <span class="text-xs md:text-sm">
                            {{article.date}}
                        </span>
                    </div>
                </div>
            </div>
        </a>
    </li>
    {% endif %} {% endfor %}
</ol>

{% endmacro %}
