{% macro insert_articles(articles) %}

<ol class="w-full">
    {% for article in articles %} {% if article.publish_date %}
    <li class="scale-normal hover:scale-up w-full my-8">
        <a href="{{ article.path }}">
            <div class="flow-root">
                <h3 class="text-lg float-left">
                    {{ article.title }}
                </h3>
                <span class="float-right">
                {{article.date}}
            </span>
            </div>
            <span class="text-sm">
            {{ article.description }}
            </span>
        </a>
    </li>
    {% endif %} {% endfor %}
</ol>

{% endmacro %}