<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Maxwell Omdal</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./tailwind.css">
    <link rel="icon" type="image/png" href="favicon.png">
    <!-- <script src="./script.js" async defer></script> -->
    <script src="https://kit.fontawesome.com/675a0d1294.js" crossorigin="anonymous"></script>
    <script data-goatcounter="https://dizzard.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    <!-- <script language="javascript" type="text/javascript" src="libraries/p5.min.js"></script> -->
    <!-- <script language="javascript" type="text/javascript" src="backdrop.js"></script> -->
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        
        #sketch-holder {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    </style>
</head>

<body>
    <!-- <header>
    <nav class="fixed w-full shadow-md flex items-center justify-between flex-wrap bg-gray-900 p-6">
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <a href="index.html">
          <span class="font-semibold text-xl tracking-tight">Maxwell Omdal</span>
        </a>
      </div>
      <div class="navbar-burger block lg:hidden">
        <button
          class="flex items-center px-3 py-2 border rounded text-gray-100 border-gray-400 hover:text-white hover:border-white">
          <svg class="fill-current h-3 w-3 text-white" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
      <div id="main-nav" class="hidden w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow">
          <a href="#projects" class="block mt-4 lg:inline-block lg:mt-0 text-gray-200 hover:text-white">
            Projects
          </a>
        </div>
        <div class="text-sm lg:flex-grow">
          <a href="#resume" class="block mt-4 lg:inline-block lg:mt-0 text-gray-200 hover:text-white">
            Resume
          </a>
        </div>
      </div>
    </nav>
  </header> -->

    <div class='h-16'></div>

    <div style="height:550px">
        <div id="sketch-holder" style="height: 550px;">
            <!-- Our sketch will go here! -->
        </div>
        <div class="flex flex-col h-auto items-center bg-color-gray-500">
            <div class="shadow-lg w-64 h-64 bg-cover bg-top bg-center m-5 rounded-full" style="background-image: url('images/profile.jpg')">
            </div>
            <div class="w-full">
                <div class="px-6">
                    <p class="fadeIn-fast text-4xl text-center md:text-5xl font-extrabold">
                        Maxwell Omdal
                    </p>
                    <p class="fadeIn-slow text-xl text-center md:text-2xl text-indigo-800 font-extrabold">
                        I’m building new things. Currently curious about electronics, the small web, and resource sharing.
                    </p>
                    <div class="py-5 flex justify-center">
                        <a href="https://www.linkedin.com/in/maxwell-o-38a969101/" class="scale-normal hover:scale-up bg-indigo-100 hover:bg-indigo-200 text-gray-800 text-center font-bold py-2 px-4 mx-2 rounded inline-flex">
                            <i class="fab fa-linkedin fill-current w-4 h-4 md:mr-2 my-auto"></i>
                            <span class="hidden md:inline-block">LinkedIn</span>
                        </a>
                        <a href="mailto:mjomdal@gmail.com" class="scale-normal hover:scale-up bg-indigo-100 hover:bg-indigo-200 text-gray-800 text-center font-bold py-2 px-4 mx-2 rounded inline-flex">
                            <i class="far fa-hand-peace fill-current w-4 h-4 md:mr-2 my-auto"></i>
                            <span class="hidden md:inline-block">mjomdal@gmail.com</span>
                        </a>
                        <a href="https://github.com/momja" class="scale-normal hover:scale-up bg-indigo-100 hover:bg-indigo-200 text-gray-800 text-center font-bold py-2 px-4 mx-2 rounded inline-flex">
                            <i class="fab fa-github fill-current w-4 h-4 md:mr-2 my-auto text-center inline-block"></i>
                            <span class="hidden md:inline-block">GitHub</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if projects|length > 0 %}
    <h2 class="text-3xl text-center font-bold m-10">
        Projects
    </h2>

    <hr>

    <div class="container my-12 mx-auto px-4 md:px-12">
        <div class="flex flex-wrap -mx-1 lg:-mx-4">
            {% import "helper_templates/_projects.html" as project_template %}
            {{ project_template.insertProjects() }}
        </div>
    </div>
    {% endif %} {% if articles|length > 0 %}
    <h2 class="text-3xl text-center font-bold m-10">
        Articles
    </h2>

    <hr>


    <div class="container my-12 mx-auto px-4 md:px-12">
        <div class="flex flex-wrap -mx-1 lg:-mx-4">
            {% import "helper_templates/_article_listings.html" as article_listings %} {{ article_listings.insert_articles(articles) }}
        </div>
    </div>

    {% endif %}
</body>

</html>
